.App {
  background-color: #F1F3F4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  max-width: 1620px;
  min-width: 1440px;

}

.item {
  margin: 10px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}